body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: dotted;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}